.bg {
    max-width: 1400px;

    height: 100vh;

    background-image: url('../../../pokemon/public/images/background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.brush {
    width: 576px;
    height: 146px;
    background-image: url('../../../pokemon/public/images/Brush.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    margin-top: 95px;
    margin-bottom: 50px;
}